# Compiler files
blockchain/cache/
blockchain/out/

# Ignores development broadcast logs
blockchain/!/broadcast
blockchain//broadcast/*/31337/
blockchain//broadcast/**/dry-run/

# Docs
blockchain/docs/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
/client/.env.local
/client/.env
*/.env

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts
